@import 'common';
@import './modules/nav';
@import './modules/home';
@import './modules/about';

.wraper{
    height: 100%;
    background: #f1e2d7;
}

.right-mod{
	float: left;
	position:relative;
	height: 100%;
	width: 50%;
}



@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}